*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title{
    text-align: left;
}
.box1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.section {
    margin: 20px;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#InputCuadrado{
    width: 50%;
}

#InputCirculo{
    width: 50%;
}

.InputTriangulo{
    width: 50%;
}

.button{
    width: 80%;
    background-color: rgb(152,202,63);
    margin: 5px;
    border: 1px solid black;
}